<ion-header>
  <ion-navbar>
    <ion-title>
      Ballot
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- <ion-list>
        <ion-item *ngFor="let c of candidates" >
            <ion-label>{{c.name}} </ion-label> 
            <ion-toggle [(ngModel)]="c.vote"  (ngModelChange)="vote(c.name,c.vote)"></ion-toggle>


        </ion-item>
        
      </ion-list> -->
      <div *ngIf="candidates">
          <div *ngFor="let c of candidates; let i = index" >
            <ion-card >
                <ion-card-content>
                  <ion-card-title>
                      
                      <ion-label>
                          {{c.name}} 
                      </ion-label> 
                      <!-- <ion-toggle [(ngModel)]="c.vote"  (ngModelChange)="vote(c.name,c.vote)"></ion-toggle>                   -->
                    </ion-card-title>
                    <ion-grid>
                        <ion-row>
                          <ion-col col-1></ion-col>
                          <ion-col col-10>
                              <img src="{{c.image}}">            
                            </ion-col>
                          <ion-col>
                              <button ion-button (click)="vote(c)" full>Vote</button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                  <p>
                    {{c.description}}
                  </p>
          
      
                </ion-card-content>
              </ion-card>
      
        </div>
    
      </div>

</ion-content>