<ion-header>
  <ion-navbar>
    <ion-title>
      Ballot
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- <ion-list>
        <ion-item *ngFor="let c of candidates" >
            <ion-label>{{c.name}} </ion-label> 
            <ion-toggle [(ngModel)]="c.vote"  (ngModelChange)="vote(c.name,c.vote)"></ion-toggle>


        </ion-item>
        
      </ion-list> -->
<div *ngFor="let c of candidates" >
      <ion-card >
          <ion-card-content>
            <ion-card-title>
                <ion-label>{{c.name}} </ion-label> 
                <!-- <ion-toggle [(ngModel)]="c.vote"  (ngModelChange)="vote(c.name,c.vote)"></ion-toggle>                   -->
              </ion-card-title>
              <ion-grid>
                  <ion-row>
                    <ion-col col-7>
                        <img src={{c.img}}>            
                      </ion-col>
                    <ion-col>
                      3 of 3
                    </ion-col>
                  </ion-row>
              </ion-grid>
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
     

          </ion-card-content>
        </ion-card>

      </div>

</ion-content>