<ion-header>
  <ion-navbar>
    <ion-title>
      Ballot
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let c of candidates" >
            <ion-label>{{c.name}} </ion-label> 
            <ion-toggle [(ngModel)]="c.vote"  (ngModelChange)="vote(c.name,c.vote)"></ion-toggle>


        </ion-item>
        
      </ion-list>
      <ion-card *ngFor="let c of candidates" >
          <ion-card-content>
            <ion-card-title>
                <ion-label>{{c.name}} </ion-label> 
                <ion-toggle [(ngModel)]="c.vote"  (ngModelChange)="vote(c.name,c.vote)"></ion-toggle>                  
              </ion-card-title>
              <ion-img width="80" height="80" src={{c.img}}></ion-img>              
            <p>
              The most popular industrial group ever, and largely
              responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
        </ion-card>



</ion-content>